*.class
maven-wrapper.jar
*.log
*.log.*
.DS_Store
audit_log.txt

# Local maven properties
**/application-local.*

# MS Word temporary files
~$*

# Jetbrains products
.idea
.idea_modules
/.worksheet/
*.iml

node_modules/
bin

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/local-plugins.sbt
.history
.ensime
.ensime_cache/
.sbt-scripted/
local.sbt

# Bloop
.bsp

# Metals
.bloop/
.metals/
metals.sbt
.scala-build
src/main/resources/test/run/processed/
src/main/resources/test/run/tobatch/
src/main/resources/test/run/batched/
src/main/resources/test/run/submitted/
src/main/resources/test/run/input/
src/main/resources/test/run/acks/
src/main/resources/test/run/toprocess/
*~
\#*

#spotbugs
direct-file/**/src/main/resources/spotbugs/output/spotbugs.xml
direct-file/**/spotbugs/output/

# vscode
.vscode
!direct-file/.vscode
!direct-file/df-client/.vscode

direct-file/scripts/*.csv

# files created when building sbom.json files
sbom.json

.claude/settings.local.json
