<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
  <appender name="ConsoleJSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <fieldNames>
        <timestamp>timestamp</timestamp>
        <thread>[ignore]</thread>
        <version>[ignore]</version>
        <levelValue>[ignore]</levelValue>
      </fieldNames>
      <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampPattern>
      <timeZone>UTC</timeZone>
      <customFields>{"system":"DIRECTFILE","eventType":"API","version":"${GIT_COMMIT_HASH}"}</customFields>

      <!-- Only include the following fields from the Mapped Diagnostic Context (MDC). -->
      <!-- Other MDC fields will be excluded. -->
      <includeMdcKeyName>requestUri</includeMdcKeyName>
      <includeMdcKeyName>requestMethod</includeMdcKeyName>
      <includeMdcKeyName>responseStatusCode</includeMdcKeyName>

      <!-- Only include the following fluent API key value pairs. -->
      <!-- Other key value pairs will be excluded. Without this, every audit event -->
      <!-- property is emitted, including taxpayer identifiers. -->
      <includeKeyValueKeyName>eventTimestamp</includeKeyValueKeyName>
      <includeKeyValueKeyName>eventStatus</includeKeyValueKeyName>
      <includeKeyValueKeyName>eventId</includeKeyValueKeyName>

      <!-- <throwableConverter class="gov.irs.directfile.audit.NoMessageStackTraceConverter" /> -->
      <jsonGeneratorDecorator
        class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator" />
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="ConsoleJSON" />
  </root>
</configuration>
